$primary-color: #0978f0;
$secondary-color: #fff;
$button-color: #07d3a9;

body {
    padding: 0;
    margin: 0;
    font-weight: 500;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
.vh-60 {
    min-height: 60vh;
}
